Repository galaxyproject/galaxy-language-server, pull requests merged in 2020-11, with the labels that each got.

#55 Rewrite xml parser
  server/CHANGELOG.md
  server/galaxyls/services/completion.py
  server/galaxyls/services/context.py
  server/galaxyls/services/language.py
  server/galaxyls/services/xml/__init__.py
  server/galaxyls/services/xml/constants.py
  server/galaxyls/services/xml/document.py
  server/galaxyls/services/xml/nodes.py
  server/galaxyls/services/xml/parser.py
  server/galaxyls/services/xml/scanner.py
  server/galaxyls/services/xml/types.py
  server/galaxyls/services/xml/utils.py
  server/galaxyls/services/xsd/parser.py
  server/galaxyls/services/xsd/service.py
  server/galaxyls/tests/unit/sample_data.py
  server/galaxyls/tests/unit/test_completion.py
  server/galaxyls/tests/unit/test_context.py
  server/galaxyls/tests/unit/test_format.py
  server/galaxyls/tests/unit/test_xsd_parser.py
  server/galaxyls/tests/unit/test_xsd_service.py
  server/galaxyls/tests/unit/utils.py
  server/galaxyls/tests/unit/xml/__init__.py
  server/galaxyls/tests/unit/xml/test_parser.py
Labels: enhancement, language server

#56 Add configuration parameters
  client/CHANGELOG.md
  client/README.md
  client/package.json
  client/src/extension.ts
  server/CHANGELOG.md
  server/galaxyls/config.py
  server/galaxyls/server.py
  server/galaxyls/services/completion.py
  server/galaxyls/services/language.py
  server/galaxyls/tests/unit/test_completion.py
  server/galaxyls/tests/unit/test_config.py
Labels: feature, language server, vscode extension

#61 Add documentation on how to run the server manually
  README.md
Labels: documentation

#62 More commands in Contributing/configuring
  docs/CONTRIBUTING.md
Labels: paper-cut

#64 Fix xsd documentation hover
  .vscode/launch.json
  server/galaxyls/services/xsd/parser.py
  server/galaxyls/services/xsd/types.py
  server/galaxyls/tests/unit/test_xsd_service.py
Labels: bug, language server, paper-cut

#65 Improve installation feedback
  client/README.md
  client/src/extension.ts
  client/src/setup.ts
Labels: enhancement, paper-cut, vscode extension

#70 Fix incorrect scanner state after comment
  server/galaxyls/services/xml/scanner.py
  server/galaxyls/tests/unit/test_context.py
Labels: bug, language server
